<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/registration.css" th:href="@{/css/registration.css}"/>
</head>
<body>
    <div class="container-fluid p-5 mt-5 text-center">
        <h1 class="display-4 text-light">Spring Security</h1>
        <form action="/login.html" th:action="@{/}" method="get">
            <button class="btn btn-sm btn-success text-uppercase my-4" type="Submit">Go To Sign In</button>
        </form>
        
        <div class="row">
            <div class="col-md-3 col-xl-4"></div>
            <div class="col-md-6 col-xl-4">
                <div class="card signup-form border-0">
                    <i class="fas fa-sign-in-alt mt-4 mx-auto fa-3x text-warning"></i>
                    <div class="card-body">
                        <form autocomplete="off" action="#" th:action="@{/registration}" th:object="${account}" method="post" class="form-horizontal" role="form">
                            <h3 class="text-white text-uppercase mb-5">Registration</h3>
                            <!-- Email -->
                            <div class="form-group">
                                <input type="text" th:field="*{email}" placeholder="Email" class="form-control signup-text" autofocus />
                                <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message"></label>
                            </div>
                            <!-- user name -->
                            <div class="form-group">
                                <input type="text" th:field="*{username}" placeholder="User Name" class="form-control signup-text"/> 
                                <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="validation-message"></label>
                            </div>
                            <!-- password -->
                            <div class="form-group">
                                <input type="password" th:field="*{password}" placeholder="Password" class="form-control signup-text"/>
                                <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message"></label>
                            </div>
                            <!-- confirm password -->
                            <div class="form-group">
                                <input type="password" th:field="*{confirmPassword}" placeholder="Confirm Password" class="form-control signup-text"/> 
                                <label th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="validation-message"></label>
                            </div>
                            <!-- submit button -->
                            <div class="form-group">
                                <button type="submit" class="btn btn-warning btn-block text-uppercase">sign up</button>
                            </div>
                            
                            <h4><span class="text-success" th:utext="${successMessage}">User has been registered successfully</span></h4>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xl-4"></div>
        </div>
    </div>

<!-- Javascript of Bootstrap  -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="/lib/fontawesome-free-5.12.1-web/js/all.js" crossorigin="anonymous"></script>
</body>
</html>
