
body {
    background: #043041;
    height: 100vh;
}

.signup-form {
    background: #043041;
}

.signup-text {
    background: #1F4758;
    color: #eee;
    border: 0;
}

.signup-text:focus {
	color: #111;
}

.validation-message {
	color: #ee4835;
	margin-bottom: auto;
}